<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <title>Johanna &amp; Ralph</title>
  <meta name="language" content="de-de" />
  <link rel="stylesheet" href="stylesheets/960.css"/>
  <link rel="stylesheet" href="stylesheets/slides.css"/>
  <link rel="stylesheet" href="stylesheets/style.css"/>
  <script src="javascripts/jquery-1.5.1.min.js" type="text/javascript"></script>
  <script src="javascripts/slides.min.jquery.js" type="text/javascript"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-22824218-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>
  <div id="header" class="container_12">
    <h1 class="grid_12">Johanna &amp; Ralph</h1>
  </div>
  <div class="clear"></div>
  <div id="content" class="container_12">

    <ul id="navigation">
      <li><a href="#start" onclick="javascript:toggleContent(this)">Start</a></li>
      <li><a href="#anfahrt" onclick="javascript:toggleContent(this)">Anfahrt</a></li>
      <li><a href="#uebernachtung" onclick="javascript:toggleContent(this)">Übernachtung</a></li>
      <li><a href="#dresscode" onclick="javascript:toggleContent(this)">Dresscode</a></li>
      <li><a href="#hinweise" onclick="javascript:toggleContent(this)">Hinweise</a></li>
      <li><a href="#save-the-date" onclick="javascript:toggleContent(this)">Making of Save the Date</a></li>
    </ul>
    <div class="clear"></div>

    <div class="content start">
      <cite>
        <p>„Es muss feste Bräuche geben“ sagte der Fuchs. „Was heißt feste Bräuche?“, fragte der kleine Prinz. „Auch etwas in Vergessenheit Geratenes“, sagte der Fuchs. „Es ist das, was einen Tag vom anderen unterscheidet, eine Stunde von der anderen Stunde.“</p>

        <p class="author">Antoine de Saint Exupery</p>
      </cite>

      <p>
        Johanna &amp; Ralph heiraten am <b>6. August 2011 um 16 Uhr</b> in der <a
          href="http://maps.google.com/maps/place?cid=16199813005510650510">Evangelischen Kirche Leussow</a>. Die anschließende Feier findet im <a href="http://www.forsthof-glaisin.de/">Forsthof Glaisin</a> statt. Diese Seiten sollen euch helfen, die Planung, Anreise und den Aufenthalt so angenehm wie möglich zu machen.
      </p>
    </div>

    <div class="content hidden anfahrt">
      <h2>Anfahrt</h2>
      <h3>Kirche in Leussow</h3>
      <p>
        Evangel.- Luth. Pfarramt<br/>
        Friedensstr. 4<br/>
        19288 Leussow<br/>
        +49 38754/8000<br/>
      </p>
      <h3>Forsthof Glaisin</h3>
      <p>
        Lindenstr. 16<br/>
        OT Glaisin<br/>
        19288 Ludwigslust<br/>
      </p>
    </div>
    <div class="uebernachtung content hidden">
      <h2>Übernachtung</h2>

      <h3>Campen</h3> 
<p>Der Garten von Johannas Eltern steht allen zur Verfügung, die gerne zelten wollen. Die meisten von Euch kennen das ja schon.</p> 
<p><strong>Adresse:</strong><br> 
Zum Forsthaus 20<br> 
19288 Loosen<br> 
Hotels / Pensionen</p> 
<h3>Hotels</h3> 
<p><strong>Zum Forsthof Glaisin Gaststätte und Pension</strong><br> 
(reserviert für Gäste mit Kindern)<br> 
Lindenstraße 16<br> 
19288 Glaisin<br> 
038754 – 20550 <br><a href="http://www.forsthof-glaisin.de" rel="nofollow">http://www.forsthof-glaisin.de</a></p> 
<p><strong>Hotel Erbprinz</strong><br> 
Schweriner Straße 38<br> 
19288 Ludwigslust<br> 
03874 – 25040<br><a href="http://www.hotel-erbprinz.m-vp.de" rel="nofollow">http://www.hotel-erbprinz.m-vp.de</a></p> 
<p><strong>Landhotel de Weimar</strong><br> 
Schloßstraße 15<br> 
19288 Ludwigslust<br> 
03874 – 4180<br><a href="http://www.landhotel-de-weimar.de" rel="nofollow">http://www.landhotel-de-weimar.de</a></p> 
<p><strong>Landhaus Knötel</strong><br> 
Kanalstraße 19<br> 
19288 Ludwigslust<br> 
03874 – 22015<br><a href="http://www.landhaus-knoetel.de" rel="nofollow">http://www.landhaus-knoetel.de</a></p> 
<p><strong>Hotel &amp; Restaurant “Wulff”</strong><br> 
J.-Gillhof-Straße 19<br> 
19288 Ludwigslust<br> 
03874 – 42240<br><a href="http://www.hotel-wulff-ludwigslust.de" rel="nofollow">http://www.hotel-wulff-ludwigslust.de</a></p> 
<h3>Pensionen</h3> 
<p><strong>Pension Heinz Braun</strong><br> 
Neustädter Straße 11<br> 
19288 Ludwigslust<br> 
03874 – 22411</p> 
<p><strong>Pension Blumeneck, Ralf Giencke</strong><br> 
Neustädter Straße 43<br> 
19288 Ludwigslust<br> 
03874 – 48225</p> 
<h3>Ferienhäuser / -wohnungen</h3> 
<p><strong>Ferienwohnung im Raseneisensteinhaus</strong><br> 
Lindenstraße 1<br> 
19288 Glaisin<br> 
02131 – 4065713 oder 0173 – 8621972<br><a href="http://www.fewo-westmecklenburg.de" rel="nofollow">http://www.fewo-westmecklenburg.de</a></p> 
<p><strong>Ferienwohnung Helmut Hermann</strong><br> 
Clara – Zetkin – Straße 54<br> 
19288 Ludwigslust<br> 
03874 – 28228 oder 0162 – 9187763</p> 
<p><strong>Ferienhaus Harry Sabban</strong><br> 
Lindenallee 23<br> 
19288 Ludwigslust / Warlow<br> 
03874 – 28265 oder 0171 – 2754137</p> 
<p><strong>Ferienwohnung Ingeborg Dommerich</strong><br> 
Mauerstraße 8<br> 
19288 Ludwigslust<br> 
03874 – 22374</p> 
<p><strong>middenmank – das besondere Feriendomizil</strong><br> 
Zum Schnellberg 16<br> 
19288 Glaisin<br> 
038754 – 20111<br><a href="http://www.middenmank.de" rel="nofollow">http://www.middenmank.de</a></p> 
<p><strong>Ferienwohnung am Waldrand, Renate &amp; Jürgen Lietz</strong><br> 
Straße der Jugend 4<br> 
19288 Warlow / b. Ludwigslust<br> 
038751 – 20152 oder 0170 – 2161763</p> 
<p><strong>Ferienwohnung Gisela &amp; Hans Sabban</strong><br> 
Straße der Jugend 6<br> 
19288 Warlow / b. Ludwigslust<br> 
038751 – 20131<br><a href="http://www.ferienwohnung-sabban.de" rel="nofollow">http://www.ferienwohnung-sabban.de</a></p> 
<h3>Privatzimmer</h3> 
<p><strong>Bärbel Schmuhl</strong><br> 
Johannes – Gillhoff – Straße 18<br> 
19288 Ludwigslust<br> 
03874 – 47758 oder 0162 – 1524631</p> 
<p><strong>Renate Lietz</strong><br> 
Straße der Jugend 4<br> 
19288 Warlow / b. Ludwigslust<br> 
038751 – 20152 oder 0170 – 2161763</p> 


    </div>
    <div class="dresscode content hidden">
      <h2>Dresscode</h2>
      <p>
        Jeder wie er will und kann,<br/>
        nur nicht wie sein Nebenmann.<br/>
        Und wir nehmen's ganz genau,<br/>
        Auch nicht wie die Nebenfrau.<br/>
        Mit Hut wär gut!<br/>
      </p>
    </div>

    <div class="hinweise content hidden">
      <h2>Wichtige Hinweise</h2>
      <h3>Shuttle Service</h3>
      <p>
        Nach der Feier habt ihr die Möglichkeit, euch von unserer
        Fahrerin in eure Unterkunft bringen zu lassen, ganz egal, wo ihr
        logiert.
      </p>

      <h3>Aufwärmphase</h3>
      <p>
        Alle Gäste, die schon freitags anreisen, können sich gerne am
        Abend besser kennenlernen. Treffpunkt ist das Feuerwehrhaus in
        Loosen.
      </p>

      <h3>Fotos</h3>
      <p>
        Wir wünschen uns von euch, während des Gottesdienstes keine
        Fotos zu machen. Singt lieber kräftig mit!
      </p>
      <p>
        Nach dem Gottesdienst und bei der Feier dürft ihr natürlich
        ordentlich knipsen!
      </p>
    </div>
    <div class="save-the-date content hidden">
      <h2>Making of Save the Date</h2>
      <div id="save_the_date">
        <div id="slides">
          <div class="slides_container">
            <img src="images/save_the_date/01.jpg" alt="Save the date"/>
            <img src="images/save_the_date/02.jpg" alt="Save the date"/>
            <img src="images/save_the_date/03.jpg" alt="Save the date"/>
            <img src="images/save_the_date/04.jpg" alt="Save the date"/>
            <img src="images/save_the_date/05.jpg" alt="Save the date"/>
            <img src="images/save_the_date/06.jpg" alt="Save the date"/>
            <img src="images/save_the_date/07.jpg" alt="Save the date"/>
            <img src="images/save_the_date/08.jpg" alt="Save the date"/>
            <img src="images/save_the_date/09.jpg" alt="Save the date"/>
            <img src="images/save_the_date/10.jpg" alt="Save the date"/>
            <img src="images/save_the_date/11.jpg" alt="Save the date"/>
          </div>
          <a href="#" class="prev"><img src="images/slides/arrow-prev.png" width="24" height="43" alt="Arrow Prev"/></a>
          <a href="#" class="next"><img src="images/slides/arrow-next.png" width="24" height="43" alt="Arrow Next"/></a>
        </div>
      </div>
    </div>
  </div>

  <div id="footer" class="container_12">
    <p>Johanna Dannehl &amp; Ralph von der Heyden • Desenißstr. 36 •
      22083 Hamburg • 040 87873778 • ralph at rvdh.de • johannadannehl
      at googlemail.com</p>
  </div>
  <script src="javascripts/application.js" type="text/javascript"></script>
</body>
</html>
